/big_Table_anonymyze2.sql
/big_Table_anonymyze.sql
/Anonymizer/Anonymizer/obj
/Anonymizer/Anonymizer/bin
/Anonymizer/.vs
/AnonymizerCore/ApplicationCore/obj
/AnonymizerCore/ApplicationCore/bin
/AnonymizerCore/.vs
.vs
/AnonymizerCore/.vs/AnonymizerCore/v15/Server/sqlite3
/AnonymizerCore/.vs/AnonymizerCore/v15/*.suo
/AnonymizerCore/.vs/AnonymizerCore/v15/.suo
/AnonymizerCore/Test/bin/Debug/netcoreapp2.2
/AnonymizerCore/Test/obj
