/big_Table_anonymyze2.sql
/big_Table_anonymyze.sql
/Anonymizer/Anonymizer/obj
/Anonymizer/Anonymizer/bin
/Anonymizer/.vs
/AnonymizerCore/ApplicationCore/obj
/AnonymizerCore/ApplicationCore/bin
/AnonymizerCore/.vs
.vs
/AnonymizerCore/.vs/AnonymizerCore/v15/Server/sqlite3
/AnonymizerCore/.vs/AnonymizerCore/v15/*.suo
/AnonymizerCore/.vs/AnonymizerCore/v15/.suo
/AnonymizerCore/Test/bin/Debug/netcoreapp2.2
/AnonymizerCore/Test/bin/Debug
/AnonymizerCore/Test/obj
/AnonymizerCore/Scrambler.SqlServer/bin
/AnonymizerCore/Scrambler.SqlServer/obj
/anonymizer_ui/node_modules
/AnonymizerCore/Scrambler.Api/wwwroot/upload.php
/AnonymizerCore/Scrambler.Api/wwwroot/styles.22f443aed2aff18d37f1.css
/AnonymizerCore/Scrambler.Api/wwwroot/section1_bg.bf7f3d599f282ce19293.jpg
/AnonymizerCore/Scrambler.Api/wwwroot/scripts.9613c4ee33a2f906c501.js
/AnonymizerCore/Scrambler.Api/wwwroot/runtime-es5.edb2fcf2778e7bf1d426.js
/AnonymizerCore/Scrambler.Api/wwwroot/runtime-es2015.edb2fcf2778e7bf1d426.js
/AnonymizerCore/Scrambler.Api/wwwroot/primeicons.e5e0e94474d5fd92e7e8.svg
/AnonymizerCore/Scrambler.Api/wwwroot/primeicons.df0140f8e79ecfeffaf8.ttf
/AnonymizerCore/Scrambler.Api/wwwroot/primeicons.66ee0deb739ca71f0ecd.woff
/AnonymizerCore/Scrambler.Api/wwwroot/primeicons.2d2afb2719a1ee903e57.eot
/AnonymizerCore/Scrambler.Api/wwwroot/polyfills-es5.b47e63543e0b2f0942fd.js
/AnonymizerCore/Scrambler.Api/wwwroot/polyfills-es2015.dcba6373413a08b3af3e.js
/AnonymizerCore/Scrambler.Api/wwwroot/password-meter.d59e6dc2616c53ce8e77.png
/AnonymizerCore/Scrambler.Api/wwwroot/open-sans-v15-latin-regular.cffb686d7d2f4682df83.woff2
/AnonymizerCore/Scrambler.Api/wwwroot/open-sans-v15-latin-regular.c045b73d86803686f4cd.ttf
/AnonymizerCore/Scrambler.Api/wwwroot/open-sans-v15-latin-regular.bf2d0783515b7d75c35b.woff
/AnonymizerCore/Scrambler.Api/wwwroot/open-sans-v15-latin-regular.9dce7f01715340861bdb.eot
/AnonymizerCore/Scrambler.Api/wwwroot/open-sans-v15-latin-regular.7aab4c13671282c90669.svg
/AnonymizerCore/Scrambler.Api/wwwroot/open-sans-v15-latin-700.d08c09f2f169f4a6edbc.woff2
/AnonymizerCore/Scrambler.Api/wwwroot/open-sans-v15-latin-700.7e08cc656863d52bcb5c.ttf
/AnonymizerCore/Scrambler.Api/wwwroot/open-sans-v15-latin-700.623e3205570002af47fc.woff
/AnonymizerCore/Scrambler.Api/wwwroot/open-sans-v15-latin-700.2e00b2635b51ba336b4b.svg
/AnonymizerCore/Scrambler.Api/wwwroot/open-sans-v15-latin-700.148a6749baa5f658a451.eot
/AnonymizerCore/Scrambler.Api/wwwroot/open-sans-v15-latin-300.76b56857ebbae3a5a689.eot
/AnonymizerCore/Scrambler.Api/wwwroot/open-sans-v15-latin-300.60c866748ff15f5b347f.woff2
/AnonymizerCore/Scrambler.Api/wwwroot/open-sans-v15-latin-300.521d17bc9f3526c690e8.woff
/AnonymizerCore/Scrambler.Api/wwwroot/open-sans-v15-latin-300.27ef0b062b2e221df16f.svg
/AnonymizerCore/Scrambler.Api/wwwroot/open-sans-v15-latin-300.177cc92d2e8027712a8c.ttf
/AnonymizerCore/Scrambler.Api/wwwroot/main-es5.488169b1ccdc979e920a.js
/AnonymizerCore/Scrambler.Api/wwwroot/main-es2015.488169b1ccdc979e920a.js
/AnonymizerCore/Scrambler.Api/wwwroot/loading.8732a6660b528fadfaeb.gif
/AnonymizerCore/Scrambler.Api/wwwroot/line.567f57385ea3dde2c9ae.gif
/AnonymizerCore/Scrambler.Api/wwwroot/index.html
/AnonymizerCore/Scrambler.Api/wwwroot/hue.0614c27197fc3ce572e1.png
/AnonymizerCore/Scrambler.Api/wwwroot/fontawesome-webfont.fee66e712a8a08eef580.woff
/AnonymizerCore/Scrambler.Api/wwwroot/fontawesome-webfont.b06871f281fee6b241d6.ttf
/AnonymizerCore/Scrambler.Api/wwwroot/fontawesome-webfont.af7ae505a9eed503f8b8.woff2
/AnonymizerCore/Scrambler.Api/wwwroot/fontawesome-webfont.912ec66d7572ff821749.svg
/AnonymizerCore/Scrambler.Api/wwwroot/fontawesome-webfont.674f50d287a8c48dc19b.eot
/AnonymizerCore/Scrambler.Api/wwwroot/favicon.ico
/AnonymizerCore/Scrambler.Api/wwwroot/color.c7a33805ffda0d32bd2a.png
/AnonymizerCore/Scrambler.Api/wwwroot/assets
/AnonymizerCore/Scrambler.Api/wwwroot/3rdpartylicenses.txt
