<div class="wrapper" [ngClass]="{'sidebar-inactive-l':menuInactiveDesktop, 'sidebar-active-m':menuActiveMobile}">
    <div class="topbar clearfix">
        <a id="omega-menu-button" href="#" (click)="toggleMenu($event)">
            <span class="fa fa-bars"></span>
        </a>
        <span class="topbar-title"></span>
        <a id="options-menu-button" href="#" (click)="toggleTopMenu($event)">
            <span class="fa fa-ellipsis-h"></span>
        </a>
    </div>
    <div class="sidebar" (click)="onMenuClick()">
        <p-scrollPanel #scroller [style]="{height: '100%'}">
            <div class="sidebar-scroll-content">
                <div class="logo">
                    <img src="assets/layout/images/logo.png" alt="" width="200" height="65">
                </div>
                <div style="height:30px">

                </div>
                <app-menu></app-menu>
            </div>
        </p-scrollPanel>
    </div>
    <div class="main">
        <router-outlet></router-outlet>
    </div>
    <div class="footer">
        <img src="assets/layout/images/logo-colored.png" alt="" width="32">
        <span class="footer-text"> <b> Database Scrambler Core</b></span>
    </div>
</div>
