<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="DatabasesSection" type="Anonymizer.Config.DatabaseConfigurationSection, Anonymizer" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <DatabasesSection>
    <Databases>
      <Database connectionString="Data Source=HUVDEV1;Initial Catalog=Target_IFUAT;Integrated Security=sspi;">
        <Tables>
          <Table nameWithSchema="dbo.T_ACTORS" index="T_ACTORS_ID">
            <Columns>
              <Column name="familyname"/>
              <Column name="dateofbirth"/>
              <Column name="employername"/>
            </Columns>
          </Table>
        </Tables>
      </Database>
    </Databases>
  </DatabasesSection>
</configuration>