<p-progressBar mode="indeterminate" [style]="{'height': '5px'}" *ngIf="!jobDescriptions"></p-progressBar>

<br/><br/>

<p-messages [(value)]="messages"></p-messages>
<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>

<p-table [columns]="jobCols" rowExpandMode="single" [style]="{'margin-top':'20px'}" [value]="jobDescriptions" [lazy]=false [rows]="10" 
[paginator]="true" [pageLinks]="3" [responsive]="true" (onLazyLoad)="loadJobsLazy($event)" dataKey="id" [resizableColumns]="true" 
[totalRecords]="totalNumberOfJobs" (onRowExpand)="expandRow($event)">
    <ng-template pTemplate="header" let-columns> 
        <tr>
            <th style="background:#03a9f4; color: white; width: 40px;"></th>
            <!-- <th *ngFor="let col of columns" style="background:#03a9f4; color:white" class="header" pResizableColumn>
                {{col.header}}
            </th> -->
            <th style="background:#03a9f4; color:white"  pResizableColumn>
                Job Name
            </th>
            <th style="background:#03a9f4; color:white"  pResizableColumn>
                Job Group Name
            </th>
            <th style="background:#03a9f4; color:white" pResizableColumn>
                Request Recovery
            </th>
            <th style="background:#03a9f4; color:white" pResizableColumn>
                Description
            </th>
            <th style="background:#03a9f4; color:white"  pResizableColumn>
                Is Durable
            </th>
            <th style="background:#03a9f4; color:white"  class="absorbing-column" pResizableColumn>
                Operation
            </th>
        </tr>
        <tr>
            <th></th>
            <th *ngFor="let col of columns">
                <div *ngIf="col.field !== 'isDurable' && col.field !== 'requestRecovery' && col.field !== 'triggers' && col.field !== 'operation'">
                    <input pInputText type="text" (keyup)="filter($event.target.value, col.field)">
                </div>
                <p-dropdown *ngIf="col.field === 'isDurable'" appendTo="body" style="font-size:12px" [options]="isDurableOptions"
                     [(ngModel)]="isDurableSelected" class="dropdown" [style]="{'width':'100%'}" [autoWidth]="false" (onChange)="filter($event.value,col.field,'equals')"></p-dropdown>
                <p-dropdown *ngIf="col.field === 'requestRecovery'" appendTo="body" style="font-size:12px" [options]="requestRecoveryOptions"
                [(ngModel)]="requestRecoverySelected" class="dropdown absorbing-column" [style]="{'width':'100%'}" [autoWidth]="false" (onChange)="filter($event.value,col.field,'equals')"></p-dropdown>
            </th>
        </tr>
    </ng-template>>   
    <ng-template pTemplate="body" let-rowData let-expanded="expanded" let-columns="columns">
        <tr [pSelectableRow]="rowData">
            <td style="width: 25px;text-align: center;">
                <div style="text-align: center">
                    <a href="#" [pRowToggler]="rowData">
                        <i [ngClass]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></i>
                    </a>
                </div>
            </td>
            <!-- <td *ngFor="let col of columns" class="ui-resizable-column request-field">
                <span *ngIf="col.field !== 'triggers'">
                    {{rowData[col.field]}}
                </span>
            </td> -->
            <td >
                    {{rowData['jobName']}}
            </td>
            <td >
                    {{rowData['jobGroup']}}
            </td>
            <td >
                    {{rowData['requestRecovery']}}
            </td>
            <td>
                    {{rowData['description']}}
            </td>
            <td>
                    {{rowData['isDurable']}}
            </td>
            <td style="text-align:center">
                <p >
                    <p-button icon="pi pi-times" styleClass="ui-button-danger ui-corner-all"
                    (click)="deleteJob($event, rowData)"></p-button>
                </p>
            </td>
        </tr>
    </ng-template>

    <ng-template pTemplate="rowexpansion" let-rowData let-columns="columns">
        <tr>
            <td [attr.colspan]="columns.length+1">
                <div>
                    <p-table [columns]="triggerCols" [value]="triggers" dataKey="id">
                        <ng-template pTemplate="header" let-columns> 
                            <tr>
                                <th *ngFor="let col of columns" style="background:#03a9f4; color:white">
                                    {{col.header}}
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-trigger let-columns="columns">
                            <tr>
                                <td>
                                    {{trigger['triggerName']}}
                                </td>
                                <td>
                                    {{trigger['triggerGroup']}}
                                </td>
                                <td>
                                    {{trigger['description']}}
                                </td>
                                <td>
                                    {{trigger['calendarName']}}
                                </td>
                                <td>
                                    {{trigger['cronExpression']}}
                                </td>
                                <td style="text-align:center">
                                    <p >
                                        <p-button icon="pi pi-times" styleClass="ui-button-danger ui-button-rounded"
                                        (click)="deleteTrigger($event, trigger, rowData)"></p-button>
                                    </p>
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="summary" let-rowData>
                            <div style="text-align:left">
                                <button type="button" pButton icon="pi pi-plus" (click)="showDialogToAddTrigger(rowData)" label="Add"></button>
                            </div>
                        </ng-template> 
                        </p-table>
                </div>
            </td>
        </tr>
    </ng-template>
</p-table> 

<p-dialog header="Create Trigger" [(visible)]="displayCreateTriggerDialog" [focusOnShow]="false" [responsive]="true" showEffect="fade" [modal]="true"  [style]="{width: '300px'}">
    <div class="ui-g ui-fluid" *ngIf="triggerToCreate">
        <div class="ui-g-12">
            <div class="ui-g-4">
                <label for="vin"><strong>Job Group</strong></label>
            </div>
            <div class="ui-g-8">
                {{triggerToCreate.jobGroup}}
            </div>
        </div>
        <div class="ui-g-12">
            <div class="ui-g-4">
                <label for="year"><strong>Job Name</strong></label>
            </div>
            <div class="ui-g-8">
                {{triggerToCreate.jobName}}
            </div>
        </div>
        <div class="ui-g-12">
            <div class="ui-g-4">
                <label for="brand"><strong>Trigger Description</strong></label>
            </div>
            <div class="ui-g-8">
                <input pInputText id="brand" [(ngModel)]="triggerToCreate.triggerDescription" />
            </div>
        </div>
        <div class="ui-g-12">
            <div class="ui-g-4">
                <label for="color"><strong>Cron Expression</strong></label>
            </div>
            <div class="ui-g-8">
                <input pInputText id="color" [(ngModel)]="triggerToCreate.cronExpression" />
            </div>
        </div>
    </div>
    <p-footer>
        <div class="ui-dialog-buttonpane ui-helper-clearfix">
            <button type="button" pButton icon="pi pi-check" (click)="saveTrigger()" label="Save"></button>
        </div>
    </p-footer>
</p-dialog>