<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="DatabasesSection" type="Anonymizer.Config.DatabaseConfigurationSection, Anonymizer"/>
    <section name="MSSqlServerSettingsSection" type="Serilog.Configuration.MSSqlServerConfigurationSection, Serilog.Sinks.MSSqlServer"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <DatabasesSection>
    <Databases>
      <Database connectionString="data source=huvdev1;initial catalog=Target_ifuat;integrated security=True;">
        <Tables>
          <Table nameWithSchema="dbo.t_actors">
            <ScrambledColumns>
              <Column name="firstname" />
              <Column name="familyname" />
            </ScrambledColumns>
            <ConstantColumns>
              <Column name="isforgeten" value="1" />
            </ConstantColumns>
          </Table>
          <Table nameWithSchema="dbo.t_address">
            <ScrambledColumns>
              <Column name="city" />
            </ScrambledColumns>
          </Table>
        </Tables>
      </Database>
      <!--<Database connectionString="data source=huvdev1;initial catalog=cnfs_hun;integrated security=True;">
        <Tables>
          <Table nameWithSchema="dbo.agreement_table">
            <ConstantColumns>
              <Column name="refinancing_agreement_id" value="5" />
              <Column name="company_rate_cap_id" value="14" />
            </ConstantColumns>
          </Table>
        </Tables>
      </Database>-->
      <Database connectionString="data source=huvdev1;initial catalog=BuiltInInsurance;integrated security=True;">
        <Tables>
          <Table nameWithSchema="dbo.insurancedata">
            <ScrambledColumns>
              <Column name="customerid" />
              <Column name="AgreementNum" />
              <Column name="ActualEndMonth" />
            </ScrambledColumns>
          </Table>
          <Table nameWithSchema="dbo.message">
            <ScrambledColumns>
              <Column name="msgid" />
              <Column name="msg" />
            </ScrambledColumns>
          </Table>
          <Table nameWithSchema="dbo.insurancedataprotectionpackagetest">
            <ScrambledColumns>
              <Column name="customerid" />
              <Column name="term" />
            </ScrambledColumns>
            <ConstantColumns>
              <Column name="MonthOfIssue" value="3" />
            </ConstantColumns>
          </Table>
        </Tables>
      </Database>
    </Databases>
  </DatabasesSection>
  <MSSqlServerSettingsSection>
    <Columns>
      <add ColumnName="UserName" DataType="varchar"/>
      <add ColumnName="TransactionID" DataType="uniqueidentifier"/>
      <add ColumnName="InstanceID" DataType="uniqueidentifier"/>
      <add ColumnName="ThreadId" DataType="int"/>
      <add ColumnName="SourceContext" DataType="varchar"/>
      <add ColumnName="Layer" DataType="varchar"/>
    </Columns>
  </MSSqlServerSettingsSection>
  <appSettings>
    <add key="serilog:minimum-level" value="Verbose"/>
    <add key="serilog:enrich" value="FromLogContext,WithMachineName"/>
    <add key="serilog:using:RollingFile" value="Serilog.Sinks.RollingFile"/>
    <add key="serilog:using:Email" value="Serilog.Sinks.Email"/>
    <add key="serilog:enrich:with-property:Layer" value="Anonymizer"/>
    <add key="serilog:write-to:Email.restrictedToMinimumLevel" value="Warning"/>
    <add key="serilog:write-to:Email.fromEmail" value="Anonymizer@provident.hu"/>
    <add key="serilog:write-to:Email.toEmail" value="mark.rusz@provident.hu"/>
    <add key="serilog:write-to:Email.mailSubject" value="Anonymizer"/>
    <add key="serilog:write-to:Email.period" value="10:00:00"/>
    <add key="serilog:write-to:Email.batchPostingLimit" value="999999"/>
    <add key="serilog:write-to:Email.mailServer" value="smtp.config.provident.hu"/>
    <add key="serilog:write-to:RollingFile.pathFormat" value="C:\Logs\Anonymizer\{Date}.txt"/>
    <add key="serilog:write-to:RollingFile.retainedFileCountLimit" value="10"/>
    <add key="serilog:using:EventLog" value="Serilog.Sinks.EventLog"/>
    <add key="serilog:write-to:EventLog.source" value="Anonymizer"/>
    <add key="serilog:write-to:MSSqlServer.restrictedToMinimumLevel" value="Verbose"/>
    <!-- CONNECTION_STRING_TO_LOGGING -->
    <add key="serilog:write-to:MSSqlServer.connectionString" value="LogDBContext"/>
    <add key="serilog:write-to:MSSqlServer.tableName" value="SystemLogs"/>
  </appSettings>
  <connectionStrings>
    <add name="LogDBContext" connectionString="data source=huvdev1;initial catalog=Anonymizer;integrated security=True;MultipleActiveResultSets=True"
      providerName="System.Data.SqlClient"/>
  </connectionStrings>

</configuration>